index.html
<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Healthsparq</title>
  <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">
  <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
  <!--if lt IE 9script(src='js/vendor/respond.min.js')
  -->
</html>
<body style="background-image: url('img/content/01-landing.png');" class="index bg-center">
  <div id="search-all" class="row collapse">
    <div class="large-10 columns">
      <form id="searchForm" name="searchForm" action="">
        <input id="input-what" type="text">
        <div id="kne-suggestions" class="suggestion-results hide">
          <table>
            <tbody>
              <tr>
                <td class="list">
                  <ul class="no-bullet suggest-list">
                    <li><a href="#" data-suggestion="Kneeter, Marci C" class="suggest-item">Kneeter, Marci C</a></li>
                    <li><a href="#" data-suggestion="Kneler, Eduardo S" class="suggest-item">Kneler, Eduardo S</a></li>
                    <li><a href="#" data-suggestion="Knea, Teresa L" class="suggest-item">Knea, Teresa L</a></li>
                    <li><a href="#" data-suggestion="Knee, Alicia A" class="suggest-item">Knee, Alicia A</a></li>
                    <li><a href="#" data-suggestion="Knecht, Lance H" class="suggest-item">Knecht, Lance H</a></li>
                  </ul>
                </td>
                <td class="set-label">Providers</td>
              </tr>
              <tr>
                <td class="list">
                  <ul class="no-bullet suggest-list">
                    <li><a href="#" data-suggestion="Knee arthroscopy with cartilage repair" class="suggest-item">Knee arthroscopy with cartilage repair</a></li>
                    <li><a href="#" data-suggestion="Knee replacement" class="suggest-item">Knee replacement</a></li>
                    <li><a href="#" data-suggestion="ACL repair by arthroscopy" class="suggest-item">ACL repair by arthroscopy [Knee scope; minimally invasive knee surgery]</a></li>
                    <li><a href="#" data-suggestion="Revision of total hip or total knee replacement" class="suggest-item">Revision of total hip or total knee replacement</a></li>
                    <li><a href="#" data-suggestion="X-Ray Exam of Knee (3 views)" class="suggest-item">X-Ray Exam of Knee (3 views)</a></li>
                  </ul>
                </td>
                <td class="set-label">Services</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="knee-suggestions" class="suggestion-results hide">
          <table>
            <tbody>
              <tr>
                <td class="list">
                  <ul class="no-bullet suggest-list">
                    <li><a href="#" data-suggestion="Kneeter, Marci C" class="suggest-item">Kneeter, Marci C</a></li>
                    <li><a href="#" data-suggestion="Knee, Alicia A" class="suggest-item">Knee, Alicia A</a></li>
                  </ul>
                </td>
                <td class="set-label">Providers</td>
              </tr>
              <tr>
                <td class="list">
                  <ul class="no-bullet suggest-list">
                    <li><a href="#" data-suggestion="Knee arthroscopy with cartilage repair" class="suggest-item">Knee arthroscopy with cartilage repair</a></li>
                    <li><a href="#" data-suggestion="Knee replacement" class="suggest-item">Knee replacement</a></li>
                    <li><a href="#" data-suggestion="ACL repair by arthroscopy" class="suggest-item">ACL repair by arthroscopy [Knee scope; minimally invasive knee surgery]</a></li>
                    <li><a href="#" data-suggestion="Revision of total hip or total knee replacement" class="suggest-item">Revision of total hip or total knee replacement</a></li>
                    <li><a href="#" data-suggestion="X-Ray Exam of Knee (3 views)" class="suggest-item">X-Ray Exam of Knee (3 views)</a></li>
                  </ul>
                </td>
                <td class="set-label">Services</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <div class="large-2 columns"><a href="search.html" class="b-invisible button large expand">search</a></div>
  </div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/global.js"></script>

src/jade/index.jade
include includes/_variables
//- A list of tab sections; moved here for centralized control 

- var base_dir = ""
- var id = 0
- var pagetitle = 'Healthsparq'
//- - var xtra_css = ["index.css", "docs.css"]
include includes/_head-links
body.index.bg-center(style="background-image: url('img/content/01-landing.png');")
  #search-all.row.collapse
    .large-10.columns
      include includes/_search-form
    .large-2.columns
      a.b-invisible.button.large.expand(href='#{files[1]}') search

include includes/_footer-links
