search.html
<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1100, user-scalable=yes">
  <title>Healthsparq</title>
  <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">
  <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
  <!--if lt IE 9
  script(src='js/vendor/respond.min.js')
  
  -->
  <body style="background-image: url(&quot;img/bg-top.png&quot;);" class="results bg-header">
    <header class="text-center"><a href="index.html"><img src="img/header-topbar.png"></a><a href="search.html"><img src="img/header-searchbar.png"></a></header>
    <main class="relative"><a href="acl-repair-by-arthroscopy.html"><img src="img/content/search-infobox.png" alt="infobox" class="bg"></a><a href="facilities/forest-surgery-center.html"><img src="img/content/search-results.png" alt="results" width="1240" height="2422" class="bg"></a></main>
    <footer class="text-center"><img src="img/footer.png"></footer>
  </body>
</html>

src/jade/search.jade
include includes/_variables
include includes/_mixins
//- +content(1,2,'')

- var pagetitle = 'Healthsparq'
- var base = ''
- var id = 1
- var next = 2
//-  | #{pages[id}

doctype html
html
  meta(charset='utf-8')
  meta(name='viewport', content='width=1100, user-scalable=yes')

  title #{pagetitle}
  link(rel='stylesheet', href = base + 'bower_components/foundation/css/normalize.css')
  //- link(type='text/css', rel='stylesheet', href='../bower_components/foundation/css/foundation.css')
  link(rel='stylesheet', href = base + 'css/app.css')
  link(rel='shortcut icon', href = base + 'favicon.ico')
  link(rel='icon', href = base + 'favicon.ico')
  script(src = base + 'bower_components/foundation/js/vendor/modernizr.js')
  //if lt IE 9
    script(src='#{base}js/vendor/respond.min.js')

  body.results.bg-header(style='background-image: url("#{base}img/bg-top.png");')
    header.text-center
      a(href=base + 'index.html')
        img(src=base + 'img/header-topbar.png')
      a(href=base + '#{files[1]}')
        img(src=base + 'img/header-searchbar.png')

    main.relative
      a(href=base + '#{files[next]}')
        img.bg(src=base + 'img/content/search-infobox.png', alt='infobox')
      a(href=base + '#{files[5]}')
        img.bg(src=base + 'img/content/search-results.png', alt='results', width='1240', height='2422')

    footer.text-center
      img(src=base + 'img/footer.png')
